{% extends "base.html" %}
{% block title%} Blog {{title}} {% endblock %}

{% load comments %}

{% block content %}
<a href="/blog/feeds/posts"><img src="/Static/Images/rss_feed.png" alt="Rss Feed"></a>
<br/><br/>
{% for post in posts %}
<div style="margin-bottom:50px;">
	<a style="font-weight:bold;color:#231F20;" href="{{post.get_absolute_url}}">{{post.title}}</a>
	<br/><br/>
	<span style="font-size:.7em;color:#9F0B00;">
	{{post.date_created|date:'D, M dS, Y'}}
	</span>
	<br/>
	{{post.body|safe}}
	<br/><br/>
	<span style="font-size:.9em;" class="tags">
		&lt;{{post.tag_urls|safeseq|join:", "}}&gt;
	</span>
	
	<br><br>
	{% get_comment_count for post as comment_count %}
	<a class="blog" href="{{post.get_absolute_url}}#Comments">
		{{comment_count}} comments
	</a>
</div>
{% endfor %}
<a href="archive" class="blog">Older Posts</a>


<br/><br/><br />


{% endblock %}